
ConsoleApplication1.VC.db
*.db
*.db
ConsoleApplication1.VC.db
*.db
*.ilk
*.pdb
*.iobj
*.ipdb
x64/Debug/ConsoleApplication1.exe
*.obj
*.pdb
*.db
*.user
*.user
*.obj
*.obj
*.obj
*.tlog
*.tlog
*.obj
ConsoleApplication1/x64/Release/StaticFileManager.obj
*.obj
